<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <%- include('../layout/header') %>
    <main>
      <section class="create-view container">
        <%- include('form', {formAction: 'create', task: ''}) %>
      </section>
    </main>
  </body>
</html>
